.color-red {
    color: red;
}

.color-orange {
    color: orange;
}

.color-yellow {
    color: yellow;
}

.color-green {
    color: green;
}

.color-blue {
    color: blue;
}

.color-indigo {
    color: indigo;
}

.color-violet {
    color: violet;
}
.my-header{
    background-color: /*#476EB5*/ #05245D;
    border-color: #0e3e95;
    color: white;    
}